
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
/allure-results/
/allure-report/

# OS
.DS_Store

# Stage test data (real environment, not for source control)
/src/test-data/stage/*
!/src/test-data/stage/.gitkeep
